{% extends "base.html" %}

{% block content %}
  <div class="content">
    <form role="form" action="" method="post">{% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          <span class="help-block">{{ field.help_text }}</span>

          <div class="field-errors">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>
          {{ field }}
        </div>
      {% endfor %}

      {% for field in form.hidden_fields %}{{ field }}{% endfor %}

    <span>
	    <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
      <a class="btn btn-default btn-sm" href="/" role="button">Cancel</a>
    </span>
    </form>
  </div>
{% endblock %}